---
lang: en
layout: default
---

<div class="home2">
  {{ content }}

  {% assign sortedpages = site.pages | sort: 'order' %}
  {% for page in sortedpages %}
    {% if page.order %}
        {% if page.lang == layout.lang or page.lang_independent == true %}
          {% if page.voc == true %}
        <div id="{{page.section}}" class="section {{ page.style }}">
          <div class="container">
            {{ page.content }}
          </div>
        </div>
          {% endif %}
        {% endif %}
    {% endif %}
  {% endfor %}
</div>

